:root {
  --color-white: hsl(0, 0%, 80%);
  --color-black: #000;

  --color-font: #123;

  --color-bg: #cba;
  
  --color-linear-0: #9ed3fd;
  --color-linear-1: #c4fcfe;
  --color-linear-2: #f4f4f4;
}

@font-face {
  font-family: pixels;
  src: url('/roaming-simulator/font/font-pixels.ttf');
  font-style: normal;
  font-weight: normal;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: pixels, auto;
}

body {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--color-black);
  cursor: crosshair;
}


#ui {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--color-linear-0), var(--color-linear-1), var(--color-linear-2));
  cursor: auto;
  opacity: 1;
  transition: opacity .5s;
  will-change: opacity, transform;
  user-select: none;
}

#ui.hide {
  opacity: 0;
  pointer-events: none;
}

#game {
  position: relative;
}

#entry {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 10px;
  padding: 4px;
  transform: translate(-50%, calc(-50% + 4vw));
  border: 4px solid var(--color-font);
  transition: all 1s;
  cursor: pointer;
  pointer-events: none;
  will-change: width, height, opacity;
}

#entry.ready {
  width: 10%;
  height: 2vw;
  pointer-events: all;
}

#entry.ready > #bar {
  opacity: 0;
}

#entry.ready > #start {
  opacity: 1;
  transform: translate(calc(-50% + 0.5ch), -50%) scale(1);
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, calc(-50% - 2vw));
  font-size: 4vw;
  letter-spacing: 0.2ch;
  color: var(--color-font);
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
}

#bar {
  position: relative;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to right, var(--color-font) 8px, transparent 4px);
  background-size: 12px auto, 100% auto;
  background-origin: content-box;
  transition: all 0.5s;
  will-change: opacity;
}

#start {
  opacity: 0;
  position: absolute;
  text-align: center;
  color: var(--color-font);
  top: 50%;
  left: 50%;
  width: 100%;
  transition: all .5s;
  transform: translate(calc(-50% + 0.5ch), -50%) scale(0);
  font-size: 1.2vw;
  letter-spacing: 1ch;
  color: var(--color-black);
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
  will-change: transform, opacity;
}

#music {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 4px;
  border: 2px solid;
  border-radius: 50%;
  background: url("/roaming-simulator/images/music.png") center / 70% no-repeat;
  animation: 8s linear infinite rotate;
  cursor: pointer;
}

#music.disabled {
  animation-play-state: paused;
}

/* 斜杠 */
#music.disabled::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3px;
  background-color: black;
  transform: translate(-50%, -50%) rotate(45deg);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}