:root {
  --color-white: hsl(0, 0%, 80%);
  --color-black: #111;

  --color-bg: #cba;
  
  --color-linear-0: #432;
  --color-linear-1: #654;
  --color-linear-2: #432;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--color-black);
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.hide {
  opacity: 0 !important;
  pointer-events: none !important;
}

#ui {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  cursor: auto;
  opacity: 1;
  transition: opacity .5s;
  will-change: opacity;
}

#game {
  position: relative;
}

#entry {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 10px;
  padding: 4px;
  transform: translate(-50%, -50%);
  border: 4px solid transparent;
  border-radius: 6px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, var(--color-bg), var(--color-bg)), 
                    linear-gradient(135deg, var(--color-linear-0), var(--color-linear-1), var(--color-linear-2));
  transition: all 1s;
  user-select: none;
  cursor: pointer;
  pointer-events: none;
}

#entry.ready {
  width: 15%;
  height: 3vw;
  pointer-events: all;
}

#entry.ready > #bar {
  opacity: 0;
}

#entry.ready > #tips {
  opacity: 1;
}

#bar {
  position: relative;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to right, transparent 8px, var(--color-bg) 4px),
                    linear-gradient(135deg, var(--color-linear-0), var(--color-linear-1), var(--color-linear-2));
  background-size: 12px auto, 100% auto;
  background-origin: content-box;
  transition: all 0.5s;
}

#tips {
  opacity: 0;
  position: absolute;
  text-align: center;
  color: var(--color-white);
  top: 50%;
  left: 50%;
  width: 100%;
  transition: opacity .5s;
  transform: translate(calc(-50% + 1ch), -50%);
  font-size: 1.5vw;
  letter-spacing: 2ch;
  background-image: linear-gradient(135deg, var(--color-linear-0), var(--color-linear-1), var(--color-linear-2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#music {
  position: absolute;
  top: 12px;
  right: 12px;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 2px solid;
  border-radius: 50%;
  background-clip: content-box;
  background: url("/roaming-simulator/images/music.png") center / 75% no-repeat;
  transform-origin: cneter;
  animation: 8s linear infinite rotate;
  cursor: pointer;
}

#music.disabled {
  animation-play-state: paused;
}

/* 斜杠 */
#music.disabled::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3px;
  background-color: black;
  transform: translate(-50%, -50%) rotate(45deg);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}